* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
a {
  color: #000;
}
li {
  list-style: none;
}
/* basic values */
/* specific css style */
/* header */
.header_top {
  width: 100vh;
  padding: 20px;
  margin: auto;
  background-color: lightblue;
  position: relative;
}
.header_top button {
  width: 100px;
  height: 30px;
  font-size: 15px;
  border-radius: 5px;
  background-color: lightgreen;
  color: #000;
  cursor: pointer
}
.header_top button:hover {
  color: crimson;
  transition: 1s;
}
.header_top input {
  width: 100px;
  height: 30px;
  font-size: 15px;
  border-radius: 5px;
  background-color: lightgreen;
  color: #000;
  cursor: pointer;
}
/* movies list */
#movies_list {
  margin-top: 40px;
  padding: 20px;
}
/* series list */
#series_list {
  margin-top: 40px;
  padding: 20px;
}
/* star list */
.stars  {
  display: inline;
  list-style: none;
  color: #e6e600;
  margin-bottom: 10px;
}
