* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
a {
  color: #000;
}
/* basic values */
/* specific css style */
/* header */
.header_top {
  width: 100vh;
  height: 200vh;
  padding: 20px;
  margin: auto;
  background-color: lightblue;
  position: relative;
}
.header_top button {
  width: 100px;
  height: 30px;
  font-size: 15px;
  border-radius: 5px;
  background-color: lightgreen;
  color: #000;
  cursor: pointer
}
.header_top input {
  width: 100px;
  height: 30px;
  font-size: 15px;
  border-radius: 5px;
  background-color: lightgreen;
  color: #000;
  cursor: pointer;
}
#movies_list {
  margin-top: 20px;
  padding: 20px;
}
